In [1]:
import lib.postgres_conn as postgres_conn
import pandas as pd

In [2]:
%%time
with postgres_conn.get_con() as conn:
    MB_recording = pd.read_sql('select gid, name from recording', con=conn)
MB_recording.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

CPU times: user 17.9 s, sys: 4.81 s, total: 22.7 s
Wall time: 39.3 s

                                    gid                     name
0  0f42ab32-22cd-4dcf-927b-a8d9a183d68b           Travelling Man
1  4dce8f93-45ee-4573-8558-8cd321256233                  Live Up
2  48fabe3f-0fbd-4145-a917-83d164d6386f                  Radiate
3  b30b9943-9100-4d84-9ad2-69859ea88fbb            Five Man Army
4  b55f1db3-c6d2-4645-b908-03e1017a99c2  Kalighata (Rain Clouds)

In [3]:
%%time
with postgres_conn.get_con() as conn:
    MB_artists = pd.read_sql('select gid, name from artist', con=conn)

MB_artists.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

CPU times: user 932 ms, sys: 168 ms, total: 1.1 s
Wall time: 2.3 s

                                    gid             name
0  fadeb38c-833f-40bc-9d8c-a6383b38b1be    Доктор Сатана
1  49add228-eac5-4de8-836c-d75cde7369c3      Pete Moutso
2  c112a400-af49-4665-8bba-741531d962a1          Zachary
3  ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b  The Silhouettes
4  7b4a548e-a01a-49b7-82e7-b49efeb9732c     Aric Leavitt

In [4]:
# fetch recording_gid_redirect

with postgres_conn.get_con() as conn:
    MB_redirects = pd.read_sql('select r.gid AS new, rgr.gid AS old from recording r join recording_gid_redirect rgr on rgr.new_id = r.id;', con=conn)

MB_redirects.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    new                                   old
0  654c093a-df03-407d-86f0-e43602c9abde  7d41ae55-6c91-41ec-ad7a-4bc419ac3d01
1  fcf03240-e9c1-46ab-bb82-f3e725bca010  d0ffd274-df3a-4350-a5cc-98fbaf71ae69
2  9202a5eb-7255-40dd-a414-58809039578f  bda0fe55-612d-420e-b022-699d58098c0c
3  8dda3e70-02f3-4032-871c-b16ba184a9f6  89d8fd1e-7372-42cf-8ab0-6d4d46576a86
4  d8fa9c16-8455-4a96-ba83-97d0695f9e3e  e8e60ab2-5bfd-44b2-bacc-74e909821b8f

In [5]:
# fetch canonical_recording table
with postgres_conn.get_con() as conn:
    MB_canonical = pd.read_sql('select recording_mbid as old, canonical_recording_mbid as new from mapping.canonical_recording_redirect', con=conn)

MB_canonical.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    old                                   new
0  6ac02452-ee12-4f86-b389-bd20ba2fefcf  3e8eebfd-7613-4b3d-acbe-41709be76618
1  b4c26989-1b9e-4d50-8cde-56d6472e4bc3  3e8eebfd-7613-4b3d-acbe-41709be76618
2  601e1cf3-ad6c-4e38-9128-ba4d0d4b010f  b1050d12-b8af-409c-9cff-22759d93e240
3  35c4d840-e51f-4c07-9418-af9335b29642  f4680747-bf28-417a-ab33-af00577d8ac2
4  9ba7a9b9-a21c-4b12-8771-4c108b08b3e2  13b3875a-c89a-4be5-a6e4-0ca9164bc41d

In [6]:
# fetch artist_gid_redirect table

with postgres_conn.get_con() as conn:
    MB_artist_redirects = pd.read_sql('select a.gid AS new, agr.gid AS old from artist a join artist_gid_redirect agr on agr.new_id = a.id', con=conn)

# MB_artist_redirects.set_index('old', inplace=True)
MB_artist_redirects.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    new                                   old
0  ad8260b2-2767-4e9b-9ece-7977fbcedadf  224efe8c-c070-4e8a-9402-d41d52f5b4f1
1  c8f70fe2-a3fb-48cd-af02-ce5df49a7875  549de92e-a454-47f3-a26f-900985cf4431
2  21074eb7-3849-4d0e-bd4d-5447ff175c45  aca98fdf-f1b5-4831-8d58-ab2541c63863
3  21074eb7-3849-4d0e-bd4d-5447ff175c45  d442c9b0-2052-4fda-ad7b-e254d70cd61e
4  21074eb7-3849-4d0e-bd4d-5447ff175c45  33da8f6e-4c9c-4a54-903a-d10788ceea77

# Loading MLHD files

In [7]:
%%time
# Loading files using the new load library!

import lib.load as load
df = load.read_files('random_file_paths.txt')
df

CPU times: user 15.4 s, sys: 110 ms, total: 15.5 s
Wall time: 15.5 s

,timestamp,artist-MBID,release-MBID,recording-MBID
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,426c5c82-4472-4f7d-b1d9-9f928d338340,1deb956c-5439-4fbb-b026-5adb4330a934
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,6079df6b-2c00-4fd6-b015-0e303eedf4fd,14e9eb4e-155d-46ff-9a83-a8d5e1936c81
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,e427c52c-60f4-3df4-9493-2df0734d85aa,eced9a9b-cd59-40f8-a580-f27094bd8a89
3,1108428897,ce58d854-7430-4231-aa44-97f0144b3372,e427c52c-60f4-3df4-9493-2df0734d85aa,eced9a9b-cd59-40f8-a580-f27094bd8a89
4,1108429140,ce58d854-7430-4231-aa44-97f0144b3372,e427c52c-60f4-3df4-9493-2df0734d85aa,eced9a9b-cd59-40f8-a580-f27094bd8a89
...,...,...,...,...
21129,1357225057,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,4933dcd1-ec5e-4976-a2c0-f103150b5bc4
21130,1357225263,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,eeef1faa-8c26-4942-a0cc-5db530323121
21131,1357225477,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,83fc6525-6afb-4b70-9c02-45fbfb03dd1a
21132,1357225778,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,972df400-4a04-45b4-a4f7-39892da628b7
21134,1357226253,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,81c31179-2457-4036-97d6-5e0cacd191f4

In [10]:
%%time
# df2 = df with unique MBIDs and artist MBIDs. dropping rows with missing artist-MBIDs

df2 = df[-df['artist-MBID'].isna()][['timestamp', 'artist-MBID', 'recording-MBID']].drop_duplicates(['artist-MBID', 'recording-MBID'])
df2.rename({'artist-MBID': 'mlhd_artist_mbid', 'recording-MBID': 'mlhd_recording_mbid'}, inplace=True, axis=1)
df2

CPU times: user 1.74 s, sys: 0 ns, total: 1.74 s
Wall time: 1.76 s

,timestamp,mlhd_artist_mbid,mlhd_recording_mbid
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,eced9a9b-cd59-40f8-a580-f27094bd8a89
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,0a8e9fce-b54c-45dd-8081-4aaa654ef4ec
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f
...,...,...,...
21031,1346409472,32f59126-2a1c-47c5-9076-64826c83a393,11c72720-977a-4cdb-ae6f-16d921023289
21032,1346409883,32f59126-2a1c-47c5-9076-64826c83a393,065212d3-88db-480c-bee2-05dc2653928c
21036,1346500026,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8,35092b28-1349-4c9a-9539-26d82e58f57d
21094,1350727034,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5,9e952c1c-7748-4899-bf1a-8ebe7b9f97b0
21097,1353423330,2944824d-4c26-476f-a981-be849081942f,a6eb7554-5255-4221-8223-69ff4763b9dd

# Checking if recording-MBIDs have different artist-MBIDs.

In [9]:
# # Groupby the table based on recording-MBID and count the number of artists per recording-MBID.
# # Then filter out the rows with less than 2 artists.

# mbid_w_dif_artists = df2.groupby('recording-MBID').count()[df2.groupby('recording-MBID').count()['artist-MBID']>1].index

# #Exporting
# df2[df2['recording-MBID'].isin(mbid_w_dif_artists)].sort_values('recording-MBID').to_csv('unk_ids/recording-MBIDs with more than 1 artist.txt', index=False)
# df2[df2['recording-MBID'].isin(mbid_w_dif_artists)].sort_values('recording-MBID')

In [10]:
# num_unique_rows = len(df2['recording-MBID'].unique())

# print("Total Number of unique_rows: {}".format(num_unique_rows))
# print("Number of rec-MBIDs with more than 1 artist: {}".format(mbid_w_dif_artists.shape[0]))
# print("% of unique_rows with more than 1 artist: {}".format(round((mbid_w_dif_artists.shape[0]/num_unique_rows)*100, 4)))

# Fetching names for recording-MBIDs

## Cleaning recording-MBIDs

In [12]:
%%time
rec_replacements = MB_redirects[MB_redirects.old.isin(df2['mlhd_recording_mbid'].unique())]

rec_replacements.set_index('old', inplace=True)
rec_replacements

CPU times: user 2.27 s, sys: 438 µs, total: 2.27 s
Wall time: 2.26 s

                                                                       new
old
3405cca7-dba3-4f86-b7b5-220830110c25  f7b9d931-79ef-4f74-a701-3ee5c28ccb4c
21d80b6a-f422-4c92-8f93-2d25dfaca856  8c162923-722e-4fa6-b46e-634d43c932dc
447d5673-6339-47f9-a709-71e622257b4b  65209edf-755e-4006-9378-2c87b2edc952
161d1c78-4323-4990-9b77-3d2174ad54e8  8c416133-dd12-4050-81d1-cd5c7e49ebb4
49307f53-633e-43d1-b819-913656bccf45  f61aa0a3-c5ea-4068-bd8b-62d28cb8adc3
...                                                                    ...
204e7098-0dab-498c-918e-782fc9970b32  051560a1-fd7a-4742-a3d8-5cc280f5598e
51f17d5d-87c9-40bc-9330-fee60a51382d  d08c0d79-993e-4801-b3b4-21521aa4b57d
4b8d9dca-db69-41fd-acc1-6314e08ee7e8  9ddc5386-a32c-4fb4-a0d6-1eb10658b566
8817137e-4070-470b-a74a-c6d1245e047b  f54ca3e7-f85a-42dd-8ac7-45332188aa4b
86787b19-7438-4935-8715-030a15b984eb  eade5180-32b6-43a9-b566-fa88fce7e175

[83571 rows x 1 columns]

In [13]:
%%time

# Replacing rec-MBIDs with redirects in df2
# Note: actual recording-MBID column is overridden by the redirects
df2['canonical_mbid'] = (df2['mlhd_recording_mbid'].map(lambda x: rec_replacements.at[x, 'new'] if x in rec_replacements.index else x))

CPU times: user 1.52 s, sys: 0 ns, total: 1.52 s
Wall time: 1.52 s

## Replacing non-canonical recording-MBIDs

In [14]:
# Fetching all replacements

canonical_replacements = MB_canonical[MB_canonical.old.isin(df2['canonical_mbid'].unique())]
canonical_replacements.set_index('old', inplace=True)
canonical_replacements

                                                                       new
old
b6293447-05bf-4123-bfe5-099754348bbf  1bfc064e-fcd0-406b-98ca-1ec69f72fef6
0e08725c-cd2f-4ca1-b195-4e69bacc67a1  2a3ef63f-1c38-4c52-ad64-7c1d51175f73
edf08c86-263a-48c9-aefb-a77c77880197  c671a7e3-dd6e-4d38-a96d-f30bcafe7dd5
634eee8c-74a5-4d6c-879e-b0b8aebd699c  9e599661-19a1-4941-958b-5d66e0da5c79
4aee55b3-c060-45cd-88c5-8850284df5ea  541edf73-92d8-41ea-8b55-53077cffda9d
...                                                                    ...
7187a276-bde8-4587-9a35-8f13ada3f7e3  774f6b7b-d00b-4898-9e8d-b3e02bdc261e
52cd72f9-9aaf-4129-8a08-a5d81113c021  0f8c3491-3ebf-4b62-a176-7f147032043b
be4ccc32-2c11-4712-88de-45f933469071  4aedceb3-34da-47ab-bb63-248a2befd4cd
dbb28bcf-beb0-4b15-ba5e-bbbcd1d54912  15a721c5-52de-49ac-b51c-7f773aa723f2
177da4f1-084f-4cbe-a2cf-fb3260bb9da8  c140c9d4-4317-42b6-a889-90f6ef9b9eed

[100166 rows x 1 columns]

In [15]:
# Replacing recording-MBIDs with their canonical counterparts.

df2['canonical_mbid'] = df2['canonical_mbid'].map(lambda id: canonical_replacements.at[id, 'new'] if id in canonical_replacements.index else id)

## Fetching recording_names

In [16]:
%time

# Fetching recording name from MB_recording.
rec_names = MB_recording[MB_recording.gid.isin(df2['canonical_mbid'].unique())]
rec_names

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.11 µs

                                           gid                         name
3         b30b9943-9100-4d84-9ad2-69859ea88fbb                Five Man Army
5         c5355127-7a0c-428a-bd39-e5b3e83250f7                       Lately
6         032c4ce0-b1fd-442d-8bf1-b7777e4832e7                     One Love
8         88b8f03b-0598-4963-a377-748b70a59efc  Flight of the Passing Fancy
9         40dd862a-2dd8-40cf-94e4-3ecdda092d1c                     Twilight
...                                        ...                          ...
27262602  db56de0b-ceb5-4210-8ffc-1557f0544273       Under the Sin of Grief
27262603  cdf8635d-8db9-4369-8074-715023d22b16               Legend of Dark
27262604  28005ac6-4300-4de4-acca-4d2dda180c7c                      Requiem
27262605  a9e04509-daf1-4603-af27-91b4370d2889     King of the Sacred Sword
27262606  076e5bc0-4459-4751-8ca2-f18ee61d7eab               Infernal World

[343814 rows x 2 columns]

In [17]:
%%time
df2_rec_name = df2.join(rec_names.set_index('gid'), on='canonical_mbid')
df2_rec_name.rename({'name': 'MLHD_rec_name'}, inplace=True, axis=1)

df2_rec_name.MLHD_rec_name.isna().value_counts()

CPU times: user 685 ms, sys: 3.65 ms, total: 688 ms
Wall time: 684 ms

False    374554
True       1483
Name: MLHD_rec_name, dtype: int64

In [18]:
df2_rec_name.head()

,timestamp,mlhd_artist_mbid,mlhd_recording_mbid,canonical_mbid,MLHD_rec_name
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934,1deb956c-5439-4fbb-b026-5adb4330a934,Anywhere
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81,b0e80c50-6bca-415c-9515-1b4983329b80,Lady Lady
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,eced9a9b-cd59-40f8-a580-f27094bd8a89,6ae8e64a-d208-4f4e-8d88-155ed0568344,Building a Mystery
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,0a8e9fce-b54c-45dd-8081-4aaa654ef4ec,da1308d1-6037-4ba1-b6fc-a643a4201140,Hallelujah
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f,a2a800b4-4969-4bc6-88e9-6928b973890c,Penny & Me

## Cleaning up artist_mbid with redirects.

In [19]:
# Fetching replacements
# df2['recording-MBID'] = (df2['recording-MBID'].map(lambda x: rec_replacements.at[x, 'new'] if x in rec_replacements.index else x))

artist_replacements = MB_artist_redirects[MB_artist_redirects.old.isin(df2_rec_name['mlhd_artist_mbid'].unique())]
artist_replacements.set_index('old', inplace=True)
artist_replacements

                                                                       new
old
05d7cb34-92ef-4cba-9935-f76034b7408e  4cfe7051-f649-4d07-83b3-7a732abe7249
2f04b61d-188f-44fb-9bc6-d77caa1ac056  a3546087-fe59-47d3-a3a8-42d58e2573c7
21c9a672-748c-4a16-9763-5c8303a7a583  eea8a864-fcda-4602-9569-38ab446decd6
08d08265-b38b-468b-98a8-f5a4f76fc3fa  ac0aa7e2-cb46-4e01-a8e5-d265548411c2
9b49527c-0a10-4699-8d65-51adb8ac9e41  cafba612-fca3-4bac-b235-35ab7dbff2bb
...                                                                    ...
5cd2823c-a801-4053-8bd4-a76a572d65cc  41e707cf-bfcc-46e6-bada-6b62167c7561
d04b8aea-b7fd-424d-9bc3-fd66f36d292c  5a50b6cf-4353-4ee9-b478-bd857f9ddccb
6fd490f7-e898-40d1-a1ce-f1f427322e4a  5006bab5-0fbd-43fc-9c19-5536e3674982
03163617-c888-47d2-bcb0-c163c13a5925  da0f4c49-66c8-4ff0-9bef-7946b73fa97b
704acdbb-1415-4782-b0b6-0596b8c55e46  49de2e79-ccfa-42d2-8e09-cb6b30ad9d37

[2453 rows x 1 columns]

In [20]:
# Fetching replacement artist MBIDs
# NOTE This process overwrites existing MBIDs.

df2_rec_name['mlhd_artist_mbid'] = df2_rec_name['mlhd_artist_mbid'].map(lambda id: artist_replacements.at[id, 'new'] if id in artist_replacements.index else id)

## Fetching artist_names for cleaned MBIDs

In [21]:
# Fetching artist name from MB_artists

artist_names = MB_artists[MB_artists.gid.isin(df2_rec_name['mlhd_artist_mbid'].unique())]
artist_names

                                          gid                   name
12       4c4b7c6f-9285-4d6a-bc10-e5c9e08045f8  wecamewithbrokenteeth
40       1c2d8a03-9a9f-4424-be44-61fd5634ea1d          We Barbarians
43       a9cb07e3-d55d-403e-8ab7-9a277061b782                 Softys
88       4ff7e65a-63bc-403a-a941-24e5d0edd9a8          Nico ALLSTARS
97       d78c7719-af77-4fd9-baa0-0d08c86858dc                Fantcha
...                                       ...                    ...
1999682  7538fec7-a618-4c8a-b008-8e2c35fb92a5                   Rin'
1999688  63950b7a-bced-442b-aa46-5d27f7ac54ad               An Angle
1999714  8a27b390-5306-489d-a459-f48c1431ca68          Michael Woods
1999724  b09a8bbb-740f-4bbf-9d67-563ca52f2d8c                 Duvall
1999802  aa53342c-f171-4f79-8116-e04c1c09984d  Your Favorite Martian

[33161 rows x 2 columns]

In [22]:
# Making a new table with artist names joined.

df2_rec_artist_name = df2_rec_name.join(artist_names.set_index('gid'), on='mlhd_artist_mbid')
df2_rec_artist_name.rename({'name': 'MLHD_artist_name'}, inplace=True, axis=1)

df2_rec_artist_name

,timestamp,mlhd_artist_mbid,mlhd_recording_mbid,canonical_mbid,MLHD_rec_name,MLHD_artist_name
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934,1deb956c-5439-4fbb-b026-5adb4330a934,Anywhere,Evanescence
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81,b0e80c50-6bca-415c-9515-1b4983329b80,Lady Lady,Mark Joseph
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,eced9a9b-cd59-40f8-a580-f27094bd8a89,6ae8e64a-d208-4f4e-8d88-155ed0568344,Building a Mystery,Sarah McLachlan
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,0a8e9fce-b54c-45dd-8081-4aaa654ef4ec,da1308d1-6037-4ba1-b6fc-a643a4201140,Hallelujah,Jeff Buckley
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f,a2a800b4-4969-4bc6-88e9-6928b973890c,Penny & Me,Hanson
...,...,...,...,...,...,...
21031,1346409472,5e372a49-5672-4fb8-ba14-18c90780c4f9,11c72720-977a-4cdb-ae6f-16d921023289,4c52692f-eebc-4d00-9d5a-bc69c4eafbfe,The Waves Crashing Silently Through the Domina...,Calexico
21032,1346409883,5e372a49-5672-4fb8-ba14-18c90780c4f9,065212d3-88db-480c-bee2-05dc2653928c,59b1aade-c2d4-45c5-97ee-2dc34718872b,Fine Patina,Calexico
21036,1346500026,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8,35092b28-1349-4c9a-9539-26d82e58f57d,f9f2601a-298a-4cfd-9b8a-b9e1c8118d5f,Somebody to Love,Jim Carrey
21094,1350727034,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5,9e952c1c-7748-4899-bf1a-8ebe7b9f97b0,97edfbd9-0b5f-4f8f-b76c-1c23f0d1089c,You’re Pretty Good Looking,The White Stripes
21097,1353423330,2944824d-4c26-476f-a981-be849081942f,a6eb7554-5255-4221-8223-69ff4763b9dd,bc0e9d24-8b23-41ca-a389-3196e071c56e,Sinnerman,Nina Simone

In [23]:
df2_rec_artist_name.MLHD_artist_name.isna().value_counts()

False    375398
True        639
Name: MLHD_artist_name, dtype: int64

# Fetching looked-up artist_credit lists respective to recording-MBIDs

In [24]:
query_artist_list = "select recording.gid as rec_gid, array_agg(artist.gid) as artist_credit_list from recording join artist_credit ac on ac.id=artist_credit join artist_credit_name acn on acn.artist_credit=ac.id join artist on artist.id = acn.artist where recording.gid in {} group by recording.gid;".format(tuple(df2_rec_artist_name['canonical_mbid'].unique()))

with postgres_conn.get_con() as conn:
    df_artist_list = pd.read_sql(query_artist_list, con=conn)

df_artist_list.artist_credit_list = df_artist_list.artist_credit_list.apply(lambda x: x.strip('{}'))
df_artist_list

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,rec_gid,artist_credit_list
0,0000167c-95f5-48eb-b15f-04790e09a765,076b616f-399d-41d6-881e-fcb47505912b
1,00007960-9d81-4192-b548-ad33d6b0ca54,5f572b31-8fd9-45ae-9beb-358c98d839df
2,0000d6b8-b1c1-49b7-a5ba-e44968689dc6,e393cebb-e9cb-43ec-bfbc-f666d8b0d8d0
3,0001093f-3ca1-42c8-bcc7-8fbbcd2f7c72,190e78ac-8f44-4bf1-a4ff-95ed9376ad9e
4,00014fc3-e892-4437-beb0-c3eb81091239,28df1bc6-60e4-4423-9c7d-c0e7466b9300
...,...,...
343809,ffff8b6f-bbbd-46d8-ba2c-23bef8e15db0,2dc758d7-6776-45d1-b537-484249bd265e
343810,ffff8f29-0c47-4d58-b074-8dc2fddc000b,411b8059-4a6c-48a5-8365-0a23b9faba26
343811,ffffbf08-0c7a-4b07-98aa-4366a190fe8e,8df4098f-2386-4133-be1a-6c1163bdd10e
343812,ffffcf55-25ea-4497-89fe-f19c25123a0a,73577e86-4da8-4d76-949d-34c757e053be
343813,ffffd400-474a-4d25-abc5-8d20c493a8a2,e01646f2-2a04-450d-8bf2-0d993082e058

In [31]:
df2_artist_rec_names_artist_list = df2_rec_artist_name.join(df_artist_list.set_index('rec_gid'), on='canonical_mbid')

df2_artist_rec_names_artist_list.to_csv('unk_ids/df2_artist_rec_names_artist_list.txt', index=False)
df2_artist_rec_names_artist_list

,timestamp,mlhd_artist_mbid,mlhd_recording_mbid,canonical_mbid,MLHD_rec_name,MLHD_artist_name,artist_credit_list
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934,1deb956c-5439-4fbb-b026-5adb4330a934,Anywhere,Evanescence,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81,b0e80c50-6bca-415c-9515-1b4983329b80,Lady Lady,Mark Joseph,db999c3f-f243-4a5f-88d6-0c25243b6661
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,eced9a9b-cd59-40f8-a580-f27094bd8a89,6ae8e64a-d208-4f4e-8d88-155ed0568344,Building a Mystery,Sarah McLachlan,ce58d854-7430-4231-aa44-97f0144b3372
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,0a8e9fce-b54c-45dd-8081-4aaa654ef4ec,da1308d1-6037-4ba1-b6fc-a643a4201140,Hallelujah,Jeff Buckley,e6e879c0-3d56-4f12-b3c5-3ce459661a8e
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f,a2a800b4-4969-4bc6-88e9-6928b973890c,Penny & Me,Hanson,3c0a0074-4f26-4d3b-b723-a66bf6cc3753
...,...,...,...,...,...,...,...
21031,1346409472,5e372a49-5672-4fb8-ba14-18c90780c4f9,11c72720-977a-4cdb-ae6f-16d921023289,4c52692f-eebc-4d00-9d5a-bc69c4eafbfe,The Waves Crashing Silently Through the Domina...,Calexico,5e372a49-5672-4fb8-ba14-18c90780c4f9
21032,1346409883,5e372a49-5672-4fb8-ba14-18c90780c4f9,065212d3-88db-480c-bee2-05dc2653928c,59b1aade-c2d4-45c5-97ee-2dc34718872b,Fine Patina,Calexico,5e372a49-5672-4fb8-ba14-18c90780c4f9
21036,1346500026,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8,35092b28-1349-4c9a-9539-26d82e58f57d,f9f2601a-298a-4cfd-9b8a-b9e1c8118d5f,Somebody to Love,Jim Carrey,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8
21094,1350727034,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5,9e952c1c-7748-4899-bf1a-8ebe7b9f97b0,97edfbd9-0b5f-4f8f-b76c-1c23f0d1089c,You’re Pretty Good Looking,The White Stripes,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5
21097,1353423330,2944824d-4c26-476f-a981-be849081942f,a6eb7554-5255-4221-8223-69ff4763b9dd,bc0e9d24-8b23-41ca-a389-3196e071c56e,Sinnerman,Nina Simone,2944824d-4c26-476f-a981-be849081942f

In [26]:
print("% artist_name not null: {}".format(df2_artist_rec_names_artist_list.MLHD_artist_name.notna().sum() / df2_artist_rec_names_artist_list.shape[0] * 100))
print("% rec_name not null: {}".format(df2_artist_rec_names_artist_list.MLHD_rec_name.notna().sum() / df2_artist_rec_names_artist_list.shape[0] * 100))
print("% artist_credit_list not null: {}".format(df2_artist_rec_names_artist_list.artist_credit_list.notna().sum() / df2_artist_rec_names_artist_list.shape[0] * 100))

% artist_name not null: 99.83006991333299
% rec_name not null: 99.60562391466797
% artist_credit_list not null: 99.60562391466797

# Analyzing MLHD data w/ MB data

In [28]:
%%time
# Checking if artist-MBID is in artist_credit_list

input_existance = df2_artist_rec_names_artist_list[['mlhd_artist_mbid', 'artist_credit_list']].dropna()
existance_test = lambda row: (row['mlhd_artist_mbid']) in (row['artist_credit_list'])

# Applying test on each artist-MBID for a boolean map of input.

existance_map = input_existance.apply(existance_test, axis=1)

print(f"% inaccurate artist-MBIDs: {(existance_map.value_counts()[0] / existance_map.value_counts().sum())*100:.2f}%")

% inaccurate artist-MBIDs: 9.17%
CPU times: user 8.66 s, sys: 23.7 ms, total: 8.69 s
Wall time: 8.7 s

In [29]:
incorrect_artist_mbid = df2_artist_rec_names_artist_list.dropna(subset=['mlhd_artist_mbid', 'artist_credit_list'])[-existance_map]
incorrect_artist_mbid

,timestamp,mlhd_artist_mbid,mlhd_recording_mbid,canonical_mbid,MLHD_rec_name,MLHD_artist_name,artist_credit_list
21,1109798023,24b4aee8-32ed-4163-98f7-55bae67411ae,0c2acb7d-0048-4d39-a7f6-60e7e039e91a,560062d0-e122-46be-9d89-0f3b44077fdf,Mr. Brightside,The Killers,95e1ead9-4d31-4808-a7ac-32c3614c116b
25,1109802260,24b4aee8-32ed-4163-98f7-55bae67411ae,098994f0-bf51-4393-9d3e-da220e024d76,45024040-a343-4141-9bc9-27ef0cc9163d,Somebody Told Me,The Killers,95e1ead9-4d31-4808-a7ac-32c3614c116b
61,1111012788,a4852e21-7f09-470b-b5ae-9740d939d183,041f303a-1980-45d2-9354-4eb3050c9642,40bd0203-bc3f-4b15-9ab3-ceeb2ef35d7a,Hotel California,The Eagles,f46bd570-5768-462e-b84c-c7c993bbf47e
67,1111013935,9ef1e489-6ad2-4269-8d13-ccabedbfee2f,10b7e993-df91-4ba8-82af-69844dc5f2f7,899cbfc1-8c96-4ed7-8517-dcd0566d05ca,Lonely No More,Rob Thomas,e42680f7-e439-4666-9c2c-536c2b3c6db3
101,1111710768,24b4aee8-32ed-4163-98f7-55bae67411ae,ed81c793-f417-4d18-b4cf-67dc20c6e148,2b4c50b4-4aa9-4387-9b18-f17d04410ef7,All These Things That I’ve Done,The Killers,95e1ead9-4d31-4808-a7ac-32c3614c116b
...,...,...,...,...,...,...,...
18346,1285689058,08fc1114-56a8-491a-9cb7-b5ac33b94c02,323f2c3c-05dd-4aae-977b-53f12d4f3102,323f2c3c-05dd-4aae-977b-53f12d4f3102,My Apple Has Four Legs,Feathers,f43044b3-5e5b-4f4f-bc97-0ed869c9b775
18391,1285789417,08fc1114-56a8-491a-9cb7-b5ac33b94c02,4d32ec69-08f5-416a-be57-bbc08069aa2d,b24a833b-3170-4bd9-8931-330b42f43b18,Old Black Hat With a Dandelion Flower,Feathers,85f55c37-285c-4b0e-9c5c-ab9e2c4834a1
18739,1287567007,3bccbe10-3478-4f89-8485-3baccc445826,3375f9e8-1785-4207-b6e8-7613c949514a,4402423f-a1c8-4847-a35d-14a313b55b50,Devil’s Radio,George Harrison,42a8f507-8412-4611-854f-926571049fa0
19246,1293694689,188ebb26-eacb-4f0b-8916-44d250960774,044dacba-73a4-455f-b4eb-dc8b2ebfde69,30890ded-6d36-49d4-957e-5f229be170d1,My World Is Empty Without You,The Supremes,c1aa2ec9-53e7-4d90-8d36-bac75832e986
19427,1297267093,197012ce-dab5-4e5a-b0a9-f4f690b2ade5,7b04eb21-524e-4f05-b974-9c3c0464437a,7b04eb21-524e-4f05-b974-9c3c0464437a,Neither/Nor,Charles Atlas,da3a71e0-2f6c-4d50-8571-b1ae750bfdc5

In [30]:
# Exporting incorrect artist MBIDs to CSV.
incorrect_artist_mbid.to_csv('unk_ids/incorrect_artist_mbid.txt', index=False)